<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>
      Histórico
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item['monthAndYear'] }}
    </button>
  </ion-list>
</ion-content>
