<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary-color">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="no-scroll" padding>

  <ion-item>
    <ion-label floating>User</ion-label>
    <ion-input type="text" [(ngModel)]="user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

<div padding>
  <button ion-button color="primary" (click)="clickLogin()" block>Entrar</button>
</div>
</ion-content>
