<ion-tabs color="primary-color">
  <ion-tab [root]="tab1Root" tabTitle="Contas" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Histórico" tabIcon="folder-open"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Gráfico" tabIcon="podium"></ion-tab>
</ion-tabs>
