<!--
  Generated template for the BillsHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Contas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>

    <ion-list-header>
      Saldo
      <h6 *ngIf="money > 0" style="color: green;">R$: {{money}}</h6>
      <h6 *ngIf="money == 0">R$: {{money}}</h6>
      <h6 *ngIf="money < 0" style="color: red;">R$: {{money}}</h6>
    </ion-list-header>

     <list-bills *ngFor="let bill of bills" [bill]="bill" (click)="clickAccountList()"></list-bills>

  </ion-list>
</ion-content>
