<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary-color">
    <ion-title>Editar Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea [value]="bill.description" [(ngModel)]="bill.description">{{bill.description}}</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Tipo</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="bill.type" (ionChange)="typeSelected();">
        <ion-option value="in">Entrada</ion-option>
        <ion-option value="out">Saída</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Valor</ion-label>
      <ion-input type="number" [(ngModel)]="bill.value">{{bill.value}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Categoria</ion-label>
      <ion-select [(ngModel)]="bill.bill_category_id" interface="action-sheet">
        <ion-option value="1">Nenhuma</ion-option>
        <ion-option value="2">Salário</ion-option>
        <ion-option value="3">Comida</ion-option>
        <ion-option value="4" >Gasolina</ion-option>
        <ion-option value="5" >Lazer</ion-option>
        <ion-option value="6" >Namorada</ion-option>
        <ion-option value="7" >Outro</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="editAccount()">Editar</button>
</ion-content>
