<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>
      Gráfico
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>
  <ion-card>
      <ion-card-header>
        Estatisticas de gastos
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>
