<ion-header>
  <ion-navbar color="primary-color">
    <ion-title>Contas</ion-title>
    <ion-buttons end>
      <button  ion-button icon-only (click)="addAccount()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button  ion-button icon-only (click)="popView()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>

    <ion-list-header>
      Saldo
      <h6 *ngIf="money > 0" style="color: green;">R$: {{money}}</h6>
      <h6 *ngIf="money == 0">R$: {{money}}</h6>
      <h6 *ngIf="money < 0" style="color: red;">R$: {{money}}</h6>
    </ion-list-header>

     <list-bills *ngFor="let bill of bills" [bill]="bill" (click)="clickAccountList(bill)"></list-bills>

  </ion-list>
</ion-content>
