<!-- Generated template for the ListBillsComponent component -->
 <ion-item class="no-margin" no-lines>
  <ion-card>
  <ion-card-header [ngSwitch]="bill.bill_category_id" style="color: primary-color;">
    <ion-icon *ngSwitchCase="1" name='pie' item-start >  Nenhuma</ion-icon>
    <ion-icon *ngSwitchCase="2" name='briefcase' item-start >  Salário</ion-icon>
    <ion-icon *ngSwitchCase="3" name='pizza' item-start >  Comida</ion-icon>
    <ion-icon *ngSwitchCase="4" name='speedometer' item-start >  Gasolina</ion-icon>
    <ion-icon *ngSwitchCase="5" name='happy' item-start >  Lazer</ion-icon>
    <ion-icon *ngSwitchCase="6" name='heart' item-start >  Namorado(a)</ion-icon>
    <ion-icon *ngSwitchCase="7" name='list' item-start >  Outro</ion-icon>
  </ion-card-header>
  <ion-card-content text-wrap>
      {{bill['description']}}
  </ion-card-content>
  <ion-row>
    <ion-col center text-start>
      <ion-note>
        Data: {{bill['issue_date']}}
      </ion-note>
    </ion-col>
    <ion-col text-end colors="danger">
        <h6 *ngIf="bill['type'] == 'in'" style="color: green;">R$: {{bill['value']}}</h6>
        <h6 *ngIf="bill['type'] == 'out'" style="color: red;">R$: {{bill['value']}}</h6>
    </ion-col>
  </ion-row>
</ion-card>
 </ion-item>

